.weather-result-card {
  max-width: 400px;
}

.hidden {
  opacity: 0;
  max-width: 0;
  margin-left: 7px; // Quicky visual fix
  transition: all .3s;

  &.active {
    opacity: 1;
    max-width: 150px;
  }
}
